* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    max-width: 375px;
}

.qr_box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    width: 270px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}


img {
    width: 275px;
    height: 275px;
    padding: 1rem;
    border-radius: 10%;
}

.qr_text {
    text-align: center;
    font-size: 15px;
}

.qr_text h3 {
    font-weight: 700;
    padding: 0rem 1rem 1rem;
    margin: 0rem 0.5rem;
}

.qr_text p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 0 1rem 2rem;
}


.attribution {
    font-size: 15px;
    text-align: center;
    margin: 1rem auto;
}

.attribution p {
    padding: 0.25rem;
}

.attribution a {
    color: hsl(212, 45%, 89%);
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(0, 0%, 100%)
}

/*Responsive design*/
@media (min-width: 1440px){
    body{
        min-width: 1440px;
    }

    .attribution {
        display: flex;
        justify-content: center;
    }
}